<!-- Link Swiper's CSS -->
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css' />

<section class='section dich-vu-tieu-bieu-section'>
    <div class='container'>
        <h1 class='heading-section text-center mb-4'>Dịch vụ tiêu biểu</h1>
        <div class='row justify-content-between flex-wrap'>
            {{#each serviceList}}
                <div class='col-lg-4 col-md-6'>
                    <div class='album__item'>
                        <figure class='my-4'>
                            <img class='album__image card-img' src={{this.serviceImage}} alt='project cover' />
                        </figure>

                        <h3>
                            <a class='text-uppercase h5 fw-bold'>{{this.serviceName}}</a>
                        </h3>
                        <div class=''>
                            <ul class='list-group-horizontal list__container d-flex flex-wrap flex-row p-0'>
                                {{#each feature}}
                                    <li class='list-group-item list__item'>
                                        <a class='list__text' href={{this.href}}>
                                            <span class=''>{{this.name}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                            <div>
                                 <a href='#' class=''>
                                    <span class='seemore'>
                                        Xem tất cả
                                        <span>
                                            <svg
                                                xmlns='http://www.w3.org/2000/svg'
                                                id='right-arrow'
                                                width='14.124'
                                                height='11.991'
                                                viewBox='0 0 14.124 11.991'
                                            ><path
                                                    id='right-arrow-2'
                                                    data-name='right-arrow'
                                                    d='M6.744,4.854a.539.539,0,0,0-.8,0,.636.636,0,0,0,0,.851l4.079,4.358L-1.6,9.883a.581.581,0,0,0-.563.6.588.588,0,0,0,.563.61l11.622.18L5.94,15.625a.648.648,0,0,0,0,.859.539.539,0,0,0,.8,0L11.789,11.1a.62.62,0,0,0,0-.851Z'
                                                    transform='translate(2.167 -4.674)'
                                                    fill='#fa8a1a'
                                                ></path>
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<section class='section khach-hang-noi-ve-NTEcommerce'>
    <div class='container'>
        <h1 class='text-center heading-section my-4'>Khách hàng nói sao về NT-Ecommerce</h1>
        <!-- Swiper -->
        <div class='swiper mySwiper'>
            <div class='swiper-wrapper'>
                {{#each customerReactionList}}
                    <div class='swiper-slide'>
                        <div class='d-flex flex-column justify-content-between align-items-center'>
                            <div class='customer-avt'>
                                <img src={{this.logo}} alt='avatar' class='card-img-top' />
                            </div>
                            <div class='card-body'>
                                <div class='card-text'>{{this.author}}</div>
                                <div class='card-title h5'>{{this.title}}</div>
                                <div class='card-text'>lorem ipsum dolor</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class='swiper-button-next'></div>
            <div class='swiper-button-prev'></div>
        </div>
        <!-- Swiper JS -->
        <script src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js'></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", { slidesPerView: 3, spaceBetween: 30, slidesPerGroup: 1, loop: true,
            loopFillGroupWithBlank: true, navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev", },
            });
        </script>
    </div>
</section>

<section class='section'>
    <div class='container'>
        <h1 class='heading-section mb-4 text-center'>Dự án tiêu biểu NT-Ecommerce đã thực hiện</h1>

        <div class='row my-2 mb-3 justify-content-between'>
            {{#each projectList}}
                {{> project}}
            {{/each}}
        </div>

        <div class='row justify-content-between flex-wrap'>
            {{#each albumList}}
                <div class='col-lg-4 col-md-6'>
                    {{> article image=this.image title=this.title subtitle=this.subtitle}}
                </div>
            {{/each}}
        </div>
    </div>
</section>



<section class='section'>
    {{! form section  }}
    {{> contact}}
    {{! End of form section  }}
</section>