<section class='section'>
    <div class='container'>
        <h1 class='album__header text-center mb-4'>Dịch vụ tiêu biểu</h1>
        <div class='row justify-content-between flex-wrap'>
            {{#each serviceList}}
                <div class='col-lg-4 col-md-6'>
                    <div class='album__item'>
                        <figure>
                            <img
                                class='album__image card-img mt-4 mb-3'
                                height='300'
                                src={{this.serviceImage}}
                                alt='project cover'
                            />
                        </figure>
                        <a class='text-uppercase h5'>{{this.serviceName}}</a>
                        <div class=''>
                            <ul class='list-group-horizontal list__container d-flex flex-wrap flex-row'>
                                {{#each feature}}
                                    <li class='list-group-item mt-1 list__item mr-3'>
                                        <a class='list__text' href={{this.href}}>
                                            <span class=''>{{this.name}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                            <a class=''>
                                <span class='seemore'>
                                    Xem tất cả
                                    <span>
                                        <svg
                                            xmlns='http://www.w3.org/2000/svg'
                                            id='right-arrow'
                                            width='14.124'
                                            height='11.991'
                                            viewBox='0 0 14.124 11.991'
                                        ><path
                                                id='right-arrow-2'
                                                data-name='right-arrow'
                                                d='M6.744,4.854a.539.539,0,0,0-.8,0,.636.636,0,0,0,0,.851l4.079,4.358L-1.6,9.883a.581.581,0,0,0-.563.6.588.588,0,0,0,.563.61l11.622.18L5.94,15.625a.648.648,0,0,0,0,.859.539.539,0,0,0,.8,0L11.789,11.1a.62.62,0,0,0,0-.851Z'
                                                transform='translate(2.167 -4.674)'
                                                fill='#fa8a1a'
                                            ></path>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<section class='section'>
    <div class='container'>
        <h1 class='album__header mb-4 text-center'>Dự án tiêu biểu NT-Ecommerce đã thực hiện</h1>

        <div class='row my-2 mb-3 justify-content-between'>
            {{#each projectList}}
                <div class='col-lg-2 col-4 text-center mb-2'>
                    <a href='' class='album__btn d-block p-2'>
                        <span href='#' class='py-2'>
                            <img class='btn__icon' width={{this.size}} height={{this.size}} src={{this.icon}} />
                            {{this.name}}
                        </span>
                    </a>

                </div>
            {{/each}}
        </div>
        <div class='row justify-content-between flex-wrap'>
            {{#each albumList}}
                <div class='col-lg-4 col-md-6'>
                    <div class='album__item'>
                        <figure>
                            <img class='album__image card-img' src={{this.image}} alt='logo' />
                        </figure>
                        <div class='card-body'>
                            <a class='card-text text-uppercase font-weight-light mb-1 h4'>{{this.title}}</a>
                            <h6 class='card-text text-uppercase font-weight-light'>{{this.subtitle}}</h6>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</section>