<section class='section dich-vu-tieu-bieu-section'>
    <div class='container'>
        <h1 class='heading-section text-center mb-4'>Dịch vụ tiêu biểu</h1>
        <div class='row justify-content-between flex-wrap'>
            {{#each serviceList}}
            <div class='col-lg-4 col-md-6'>
                <div class='album__item'>
                    <a href="{{this.href}}">
                        <figure class='my-4'>
                            <img class='album__image card-img' src={{this.serviceImage}} alt='project cover' />
                        </figure>
                    </a>

                    <h3>
                        <a class='h4 fw-medium'>{{this.serviceName}}</a>
                    </h3>
                    <div class=''>
                        <ul
                            class='list-group-horizontal list__container d-flex flex-wrap flex-row justify-content-between p-0'>
                            {{#each feature}}
                            <li class='list-group-item list__item'>
                                <a class='list__text fw-medium' href={{this.href}}>
                                    <span class=''>{{this.name}}</span>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                        <div>
                            <a href='#' class=''>
                                <span class='seemore'>
                                    Xem tất cả
                                    <span>
                                        <svg xmlns='http://www.w3.org/2000/svg' id='right-arrow' width='14.124'
                                            height='11.991' viewBox='0 0 14.124 11.991'>
                                            <path id='right-arrow-2' data-name='right-arrow'
                                                d='M6.744,4.854a.539.539,0,0,0-.8,0,.636.636,0,0,0,0,.851l4.079,4.358L-1.6,9.883a.581.581,0,0,0-.563.6.588.588,0,0,0,.563.61l11.622.18L5.94,15.625a.648.648,0,0,0,0,.859.539.539,0,0,0,.8,0L11.789,11.1a.62.62,0,0,0,0-.851Z'
                                                transform='translate(2.167 -4.674)' fill='#fa8a1a'></path>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="section giai-phap-tong-the-section">
    <div class="container d-flex flex-column">
        <h1 class='heading-section text-center mb-4'>Giải pháp tổng thể</h1>
        <div class='d-md-flex flex-sm-column align-items-sm-center flex-lg-row align-items-lg-start gap-5'>
            <div class='col-lg-4'>
                <div class="mb-4 p-3 rounded label selected">
                    <a class="fw-bold" style="pointer-events: none">Giải pháp trọn gói</a>
                </div>
                <div class="mb-4 p-3 rounded label">
                    <a class="fw-bold" style="pointer-events: none">Giải pháp theo lĩnh vực kinh doanh</a>
                </div>
            </div>
            <div class='col-lg-8'>
                <div class="row p-4" style="background-color: #f4f6fe; height: 34rem">
                    <aside class="col-4">
                        <img class="w-100" src="https://www.saokim.com.vn/wp-content/uploads/2022/01/image-tab.png" alt="left side">
                    </aside>
                    <aside class="col-8">
                        <ul class="list-unstyled list list-selected">
                            {{#each FullSolution}}
                                <li class="d-flex gap-3 ">
                                    <aside>
                                        {{{this.left.icon}}}
                                    </aside>
                                    <aside>
                                        <div class="fw-bold title">{{this.right.heading}}</div>
                                        <div>{{this.right.description}}</div>
                                    </aside>
                                </li>
                            {{/each}}
                        </ul>
                        <ul class="list-unstyled list">
                            {{#if SolutionAccordingToField}}
                                <li class="d-flex flex-column gap-3">
                                    <aside>
                                        <p>{{SolutionAccordingToField.heading}}</p>
                                    </aside>
                                    <aside class="d-flex flex-column gap-5">
                                        {{#each SolutionAccordingToField.content}}
                                            <div class="d-flex align-items-center gap-4">
                                                <div class="fw-bold title">{{{this.left}}}</div>
                                                <div>{{{this.right}}}</div>
                                            </div>
                                        {{/each}}
                                    </aside>
                                </li>
                            {{/if}}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section khach-hang-noi-ve-NTEcommerce'>
    <div class='container'>
        <h1 class='text-center heading-section my-4'>Khách hàng nói sao về NT-Ecommerce</h1>
        <!-- Swiper -->
        <div class='swiper swiper-container'>
            <div class='swiper-wrapper'>
                {{#each customerReactionList}}
                <div class='swiper-slide'>
                    <div class='d-flex flex-column justify-content-between align-items-center'>
                        <div class='customer-avt'>
                            <img src={{this.logo}} alt='avatar' class='card-img-top' />
                        </div>
                        <div class='card-body'>
                            <div class='card-text'>{{this.author}}</div>
                            <div class='card-title h5'>{{this.title}}</div>
                            <div class='card-text'>lorem ipsum dolor</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class='swiper-button-next'></div>
            <div class='swiper-button-prev'></div>
        </div>
    </div>
</section>

<section class='section'>
    <div class='container'>
        <h1 class='heading-section mb-4 text-center'>Dự án tiêu biểu NT-Ecommerce đã thực hiện</h1>

        <div class='row my-2 mb-3 justify-content-between'>
            {{#each projectTypeList}}
                {{> project-type}}
            {{/each}}
        </div>

        <div class='row justify-content-between flex-wrap'>
            {{#each albumList}}
            <div class='col-lg-4 col-md-6'>
                {{> significant-project image=this.image title=this.title subtitle=this.subtitle}}
            </div>
            {{/each}}
        </div>
    </div>
</section>

<section class='section newspapers-info-section'>
    <div class='container'>
        <h2 class='heading-section text-center mb-5'>Thông tin báo chí</h2>
        <div>
            <div class="d-flex justify-content-between my-5 position-relative w-100" style="height: 5rem; overflow-x: auto; overflow-y: hidden;">
                {{#each NewspaperInfo}}
                    <div>
                        {{{this.logo}}}
                        <div class="line"></div>
                    </div>
                {{/each}}                    
            </div>
            <div class="content_below p-4 rounded position-relative">
                <ul class="row row-cols-2 gap-4">
                    <li class="col-5">Thương hiệu mạnh giúp doanh nghiệp tăng lợi thế cạnh tranh</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class='container'>
    {{! form section }}
    {{> contact}}
    {{! End of form section }}
</section>

<section class='section ecosystem-section'>
    <div class='container'>
        <h2 class='heading-section text-left mb-4'>Hệ sinh thái của NT-Ecommerce</h2>
        <div class="swiper ecosystem-logo-section">
            <div class="swiper-wrapper">
                <div class="d-flex justify-content-between my-5 swiper-slide">
                    {{#each ecosystem}}
                        <figure class="gallery-item">
                            <div class="gallery-icon landscape">
                                <img width="108" height="40" src={{this}}
                                    class="attachment-full size-full" alt="Sao Kim Branding"
                                    title="Ảnh bài viết Trang chủ"></img>
                            </div>
                        </figure>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section logo-design-process-section'>
    <div class="container d-flex flex-column gap-5">
        <div class="text-center">
            <h2 class='heading-section text-center mb-5'>Quy trình thiết kế Logo tại Sao Kim</h2>
            <p>Tại Sao Kim, chúng tôi áp dụng quy trình thiết kế logo & sáng tạo khoa học để đảm bảo mang lại sự thành công cho dự án của bạn</p>
        </div>
        {{#each logoProcess}}
            <div class="content_container d-flex align-items-center justify-content-center gap-5">
                <aside class="content_left d-flex flex-column align-items-center position-relative">
                    <p class="m-0 fw-semibold">BƯỚC</p>
                    <strong class="fs-2 py-2 px-4 rounded" style="background-color: #fa8a1a;">{{this.step}}</strong>
                </aside>
                <aside class="w-50 border border-2 rounded p-4 fs-6">
                    <strong class="link-warning">{{this.heading}}</strong>
                    <p class="mt-2">{{this.content}}</p>
                </aside>
            </div>
        {{/each}}
    </div>
</section>

<section class="section cooperate-customer-section">
    <div class="container">
        <div>
            <h2 class='heading-section text-center mb-5'>Khách hàng đã tin tưởng hợp tác cùng Sao Kim</h2>
        </div>
        <div class="swiper logo-cooperate-section">
            <div class="swiper-wrapper">
                <div class="swiper-slide row row-cols-6">
                    {{#each cooperateLogo}}
                        {{#each this.slide1 as |item|}}
                            <img src={{item}} alt="cooperate logo">
                        {{/each}}
                    {{/each}}
                </div>
                <div class="swiper-slide row row-cols-6">
                    {{#each cooperateLogo}}
                        {{#each this.slide2 as |item|}}
                            <img src={{item}} alt="cooperate logo">
                        {{/each}}
                    {{/each}}
                </div>
            </div>
            <div class="swiper-pagination mt-2"></div>
        </div>
    </div>
</section>

<div class="container new-section">
    {{> info-register }}
</div>
