<section class='section'>
    <div class='container'>
        <h1 class='album__header text-center'>Dự án tiêu biểu NT-Ecommerce đã thực hiện</h1>

        <div class='row my-2 mb-3 justify-content-between'>
            {{#each sectionList}}
                <div class='col-md-2 text-center mb-2'>
                    <a href='' class='album__btn d-block p-2'>
                        <span href='#' class='py-2'>
                            <img class='btn__icon' width={{this.size}} height={{this.size}} src={{this.icon}} />
                            {{this.name}}
                        </span>
                    </a>

                </div>
            {{/each}}
        </div>
        <div class='row justify-content-between flex-wrap'>
            {{#each albumList}}
                <div class='col-md-4'>
                    <div class='album__item'>
                        <figure>
                            <img class='album__image card-img' src={{this.image}} alt='logo' />
                        </figure>
                        <div class='card-body'>
                            <h5 class='card-text text-uppercase'>{{this.title}}</h5>
                            <p class='card-text text-uppercase'>{{this.subtitle}}</p>
                            <div class='d-flex justify-content-between align-items-center'>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</section>